.hover-iconos{
  display: inline-block;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.hover-iconos:hover{
  transform: translateY(-8px) scale(1.12);
  filter: drop-shadow(0 8px 12px rgba(0,0,0,0.18));
}
.carousel-item img{
  height: 350px;
  object-fit: cover;
}

.carousel-control-next,
.carousel-control-prev{
 
  background: rgba(54, 81, 156, 0.164);
  width: 30px;
  height: 30px;
  border-radius: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-indicators [data-bs-target]{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(54, 81, 156, 0.5);
  margin: 6px;
  transition: all .3s;
}


.carousel-indicators .active{
  background-color: rgb(54, 81, 156);
  transform: scale(1.2);
}